In [1]:
import pandas as pd

In [2]:
boxoffice = pd.read_csv('boxoffice.csv')
director = pd.read_csv('director.csv')
genre = pd.read_csv('genre.csv')
language = pd.read_csv('language.csv')

In [3]:
bo = boxoffice.merge(director, on = 'DirectorID', how = 'left')
bo = bo.merge(genre, on = 'GenreID', how = 'left')
bo = bo.merge(language, on = 'LanguageID', how = 'left')
bo = bo.drop(columns = ['DirectorID', 'GenreID', 'LanguageID'])
bo = bo.rename(columns = {'Worldwide_Collection _in_Crores': 'Worldwide_Collection'})
print(bo)

     FilmID                     Title Release_Date Lead_Actor_Actress  \
0        34                     Sanju   29-06-2018      Ranbir Kapoor
1        36                    Simmba   28-12-2018      Ranveer Singh
2       225            Janatha Garage   01-09-2016  N.T. Rama Rao Jr.
3        13                   Kaththi   22-10-2014       Joseph Vijay
4        31                  Maanikya   01-05-2014    V. Ravichandran
..      ...                       ...          ...                ...
599     583                      Kill   05-07-2024            Lakshya
600     584           Madgaon Express   22-03-2024    Divyendu Sharma
601     591  Swatantrya Veer Savarkar   22-03-2024      Randeep Hooda
602     596           Laapataa Ladies   01-03-2024      Nitanshi Goel
603     597           Merry Christmas   12-01-2024   Vijay Sethupathi

       Industry  Budget  First_Day_Collection_Worldwide  Worldwide_Collection  \
0     Bollywood   100.0                           54.40                588.50
1     Bollywood   125.0                           20.20                390.00
2     Kollywood    50.0                           45.00                140.00
3     Kollywood    70.0                           25.00                117.50
4    Sandalwood    15.0                            3.50                 43.00
..          ...     ...                             ...                   ...
599   Bollywood    20.0                            1.50                 47.25
600   Bollywood    30.0                            1.80                 46.20
601   Bollywood    25.0                            1.50                 31.86
602   Bollywood     8.0                            1.40                 27.06
603   Bollywood    50.0                            3.45                 26.30

     Overseas_Collection  India_Gross_Collection  ... IMDb_Rating  \
0                 150.00                  438.50  ...         7.6
1                  95.00                  295.00  ...         5.5
2                  15.00                  125.00  ...         7.2
3                  29.00                   88.50  ...         8.1
4                   0.00                   43.00  ...         6.5
..                   ...                     ...  ...         ...
599                28.75                   28.75  ...         7.6
600                42.80                   42.80  ...         7.0
601                29.11                   29.11  ...         7.7
602                24.31                   24.31  ...         8.4
603                23.25                   23.25  ...         6.9

     Runtime_mins        OTT_Platform  Year  Month  Month_Name  Week_Name  \
0             155             Netflix  2018      6        June     Friday
1             158                ZEE5  2018     12    December     Friday
2             162     Disney+ Hotstar  2016      9   September   Thursday
3             166  Amazon Prime Video  2014     10     October  Wednesday
4             165                ZEE5  2014      5         May   Thursday
..            ...                 ...   ...    ...         ...        ...
599           105     Disney+ Hotstar  2024      7        July     Friday
600           143  Amazon Prime Video  2024      3       March     Friday
601           176                ZEE5  2024      3       March     Friday
602           122             Netflix  2024      3       March     Friday
603           144             Netflix  2024      1     January     Friday

                          Director                           Genre Language
0                  Rajkumar Hirani        Biography, Comedy, Drama    Hindi
1                     Rohit Shetty            Action, Crime, Drama    Hindi
2                    Koratala Siva            Action, Crime, Drama    Tamil
3                  A.R. Murugadoss                   Action, Drama    Tamil
4    Sudeep, Nanda Kishore, Mahesh                   Action, Drama  Kannada
..                             ...                             ...      ...
599             Nikhil Nagesh Bhat  Action, Crime, Drama, Thriller    Hindi
600                    Kunal Kemmu                   Comedy, Drama    Hindi
601                  Randeep Hooda                Biography, Drama    Hindi
602                      Kiran Rao                   Comedy, Drama    Hindi
603                Sriram Raghavan        Drama, Mystery, Thriller    Hindi

[604 rows x 21 columns]

In [4]:
print(bo.columns)

Index(['FilmID', 'Title', 'Release_Date', 'Lead_Actor_Actress', 'Industry',
       'Budget', 'First_Day_Collection_Worldwide', 'Worldwide_Collection',
       'Overseas_Collection', 'India_Gross_Collection', 'Verdict',
       'IMDb_Rating', 'Runtime_mins', 'OTT_Platform', 'Year', 'Month',
       'Month_Name', 'Week_Name', 'Director', 'Genre', 'Language'],
      dtype='object')

In [5]:
# 1) Write a query to get Total films released? 
print('Total films released: ', len(bo))

Total films released:  604

In [6]:
# 2) Write a query to get Total budget? 
print('Total Budget: ', sum(bo['Budget']), 'crores')

Total Budget:  34653.0 crores

In [7]:
# 3) Write a query to get Total worldwide collection? 
print('Total Worldwide Collection: ', sum(bo['Worldwide_Collection']), 'crores')

Total Worldwide Collection:  79878.78999999998 crores

In [8]:
# 4) Write a query to get Total First day collection worldwide? 
print('Total First Day Collection Worldwide: ', sum(bo['First_Day_Collection_Worldwide']), 'crores')

Total First Day Collection Worldwide:  11070.270000000006 crores

In [9]:
# 5) Write a query to get Total Overseas collection? 
print('Total Overseas Collection: ', sum(bo['Overseas_Collection']), 'crores')

Total Overseas Collection:  20953.07000000001 crores

In [10]:
# 6) Write a query to get Total India Gross collection? 
print('Total India Gross Collection: ', sum(bo['India_Gross_Collection']), 'crores')

Total India Gross Collection:  60064.10000000004 crores

In [11]:
# 7) Top 10 films based on world wide collections. Display films, collections.
ww_collection = bo.sort_values(by = 'Worldwide_Collection', ascending = False)
print(ww_collection[:10])

     FilmID                       Title Release_Date Lead_Actor_Actress  \
524     213                      Dangal   22-12-2016         Aamir Khan
396     104  Bãhubali 2: The Conclusion   28-04-2017            Prabhas
45      286      RRR (Rise Roar Revolt)   25-03-2022  N.T. Rama Rao Jr.
149     287            K.G.F: Chapter 2   13-04-2022               Yash
572     463                       Jawan   07-09-2023     Shah Rukh Khan
573     464                     Pathaan   25-01-2023     Shah Rukh Khan
126     540               Kalki 2898-AD   27-06-2024            Prabhas
503     181           Bajrangi Bhaijaan   17-07-2015        Salman Khan
114     465                      Animal   01-12-2023      Ranbir Kapoor
46      105            Secret Superstar   19-10-2017        Zaira Wasim

       Industry  Budget  First_Day_Collection_Worldwide  Worldwide_Collection  \
524   Bollywood    70.0                            58.0               2122.30
396   Tollywood   250.0                           217.0               1788.00
45    Tollywood   550.0                           223.0               1230.00
149  Sandalwood   100.0                           159.0               1215.00
572   Bollywood   300.0                           129.1               1160.00
573   Bollywood   250.0                           104.8               1055.00
126   Tollywood   500.0                           177.7               1042.25
503   Bollywood    90.0                            27.2                922.10
114   Bollywood   150.0                           116.0                915.00
46    Bollywood    50.0                             5.0                912.60

     Overseas_Collection  India_Gross_Collection  ... IMDb_Rating  \
524              1535.30                  587.00  ...         8.3
396               371.00                 1417.00  ...         8.2
45                314.15                  915.85  ...         7.8
149               214.15                 1000.85  ...         8.2
572               400.00                  760.00  ...         6.9
573               397.50                  657.50  ...         5.8
126               275.00                  767.25  ...         7.0
503               489.70                  432.40  ...         8.1
114               255.00                  660.00  ...         6.1
46                831.40                   81.20  ...         7.8

     Runtime_mins        OTT_Platform  Year  Month  Month_Name  Week_Name  \
524           161     Disney+ Hotstar  2016     12    December   Thursday
396           167             Netflix  2017      4       April     Friday
45            187             Netflix  2022      3       March     Friday
149           166  Amazon Prime Video  2022      4       April  Wednesday
572           169             Netflix  2023      9   September   Thursday
573           146  Amazon Prime Video  2023      1     January  Wednesday
126           180  Amazon Prime Video  2024      6        June   Thursday
503           163     Disney+ Hotstar  2015      7        July     Friday
114           204             Netflix  2023     12    December     Friday
46            150  Amazon Prime Video  2017     10     October   Thursday

                Director                                              Genre  \
524        Nitesh Tiwari                    Action, Biography, Drama, Sport
396       S.S. Rajamouli                                      Action, Drama
45        S.S. Rajamouli                           Action, Adventure, Drama
149       Prashanth Neel                     Action, Crime, Drama, Thriller
572                Atlee                     Action, Crime, Drama, Thriller
573      Siddharth Anand                        Action, Adventure, Thriller
126           Nag Ashwin  Action, Adventure, Drama, Fantasy, Sci-Fi, Thr...
503           Kabir Khan                   Action, Adventure, Comedy, Drama
114  Sandeep Reddy Vanga                     Action, Crime, Drama, Thriller
46        Advait Chandan                                       Drama, Music

    Language
524    Hindi
396   Telugu
45    Telugu
149  Kannada
572    Hindi
573    Hindi
126   Telugu
503    Hindi
114    Hindi
46     Hindi

[10 rows x 21 columns]

In [12]:
# 8) Total Number of films released by year.
films_by_year = bo.groupby('Year')['FilmID'].count().reset_index()
films_by_year.columns = ['Year', 'Total_Films']
print(films_by_year)

    Year  Total_Films
0   2014           32
1   2015           32
2   2016           41
3   2017           72
4   2018           71
5   2019           74
6   2020           27
7   2021           31
8   2022           80
9   2023           79
10  2024           65

In [13]:
# 9) Top 10 films based on india collections. Display films, collections. 
top_10_ic = bo[['Title', 'India_Gross_Collection']].sort_values(by = 'India_Gross_Collection', ascending = False).head(10)
print(top_10_ic)

                          Title  India_Gross_Collection
396  Bãhubali 2: The Conclusion                 1417.00
149            K.G.F: Chapter 2                 1000.85
45       RRR (Rise Roar Revolt)                  915.85
126               Kalki 2898-AD                  767.25
572                       Jawan                  760.00
127  Stree 2: Sarkate Ka Aatank                  713.07
114                      Animal                  660.00
573                     Pathaan                  657.50
115                     Gadar 2                  620.50
524                      Dangal                  587.00

In [14]:
# 10) Top 10 films based on overseas collections. Display films, collections. 
top_10_oc = bo[['Title', 'Overseas_Collection']].sort_values(by = 'Overseas_Collection', ascending = False).head(10)
print(top_10_oc)

                          Title  Overseas_Collection
524                      Dangal              1535.30
46             Secret Superstar               831.40
503           Bajrangi Bhaijaan               489.70
572                       Jawan               400.00
573                     Pathaan               397.50
396  Bãhubali 2: The Conclusion               371.00
45       RRR (Rise Roar Revolt)               314.15
460                          PK               303.00
126               Kalki 2898-AD               275.00
114                      Animal               255.00

In [15]:
# 11) Top 10 films based on firstday collections. Display films, collections. 
top_10_fdc = bo[['Title', 'First_Day_Collection_Worldwide']].sort_values(by = 'First_Day_Collection_Worldwide', ascending = False).head(10)
print(top_10_fdc)

                          Title  First_Day_Collection_Worldwide
45       RRR (Rise Roar Revolt)                           223.0
396  Bãhubali 2: The Conclusion                           217.0
126               Kalki 2898-AD                           177.7
149            K.G.F: Chapter 2                           159.0
212  Salaar: Part 1 - Ceasefire                           158.1
116                         Leo                           142.7
455              Devara: Part 1                           142.0
572                       Jawan                           129.1
213                   Adipurush                           127.5
114                      Animal                           116.0

In [16]:
# 12) Weekday wise films released. Display week name and number of films released.
films_by_weekday = bo.groupby('Week_Name')['FilmID'].count().reset_index()
films_by_weekday.columns = ['Week_Name', 'Total_Films']
print(films_by_weekday)

   Week_Name  Total_Films
0     Friday          423
1   Saturday           10
2     Sunday            7
3   Thursday          124
4    Tuesday            5
5  Wednesday           35

In [17]:
# 13) Write a query to get OTT platform wise movies count 
films_by_ott = bo.groupby('OTT_Platform')['FilmID'].count().reset_index()
films_by_ott.columns = ['OTT_Platform', 'Total_Films']
print(films_by_ott)

         OTT_Platform  Total_Films
0                 Aha            8
1  Amazon Prime Video          384
2     Disney+ Hotstar           54
3  Google Play Movies            1
4           JioCinema            3
5             Netflix           99
6             SonyLIV            4
7             Sun NXT           11
8                Voot            1
9                ZEE5           39

In [18]:
# 14) Top 10 Directors by films released 
films_by_director = bo.groupby('Director')['Title'].count().reset_index()
films_by_director.columns = ['Director', 'Total_Films']
top_10_d = films_by_director[['Director', 'Total_Films']].sort_values(by = 'Total_Films', ascending = False).head(10)
print(top_10_d)

               Director  Total_Films
345  Trivikram Srinivas            6
266        Rohit Shetty            6
0       A.R. Murugadoss            5
313                Siva            5
34        Anil Ravipudi            5
67       Boyapati Srinu            5
147       Koratala Siva            5
261        Remo D'Souza            4
55                Atlee            4
311     Siddharth Anand            4

In [19]:
# 15) Top 10 directors by world wide collection 
films_by_director_wwc = bo.groupby('Director')['Worldwide_Collection'].sum().reset_index()
films_by_director_wwc.columns = ['Director', 'Total_Worldwide_Collection']
top_10_d = films_by_director_wwc[['Director', 'Total_Worldwide_Collection']].sort_values(by = 'Total_Worldwide_Collection', ascending = False).head(10)
print(top_10_d)

                Director  Total_Worldwide_Collection
272       S.S. Rajamouli                     3668.00
311      Siddharth Anand                     2229.45
203        Nitesh Tiwari                     2122.30
222       Prashanth Neel                     2101.75
55                 Atlee                     1865.35
250      Rajkumar Hirani                     1834.50
266         Rohit Shetty                     1656.60
156     Lokesh Kanagaraj                     1350.13
287  Sandeep Reddy Vanga                     1342.00
134           Kabir Khan                     1220.55

In [20]:
# 16) Top 10 lead actors by world wide collection
actors_by_wwc = bo.groupby('Lead_Actor_Actress')['Worldwide_Collection'].sum().reset_index()
actors_by_wwc.columns = ['Lead_Actor_Actress', 'Total_Worldwide_Collection']
top_10_a = actors_by_wwc[['Lead_Actor_Actress', 'Total_Worldwide_Collection']].sort_values(by = 'Total_Worldwide_Collection', ascending = False).head(10)
print(top_10_a)

    Lead_Actor_Actress  Total_Worldwide_Collection
90             Prabhas                     5091.50
119        Salman Khan                     4515.20
123     Shah Rukh Khan                     3800.10
7         Akshay Kumar                     3168.22
51        Joseph Vijay                     3076.11
0           Aamir Khan                     2914.30
102        Rajinikanth                     2695.55
4           Ajay Devgn                     2571.21
70   N.T. Rama Rao Jr.                     2242.60
109      Ranbir Kapoor                     2111.25

In [21]:
# 17) Top 10 movies by IMDb rating 
top_10_imdb = bo[['Title', 'IMDb_Rating']].sort_values(by = 'IMDb_Rating', ascending = False).head(10)
print(top_10_imdb)

                          Title  IMDb_Rating
121                   12th Fail          8.8
316  Rocketry: The Nambi Effect          8.7
83                  777 Charlie          8.7
140          Kishkindha Kaandam          8.6
79            The Kashmir Files          8.6
437                      Jersey          8.5
25                           96          8.5
512                      Sachin          8.5
350                 Meiyazhagan          8.5
204           Kumbalangi Nights          8.5

In [22]:
# 18) Bottom 10 movies by IMDb rating 
bottom_10_imdb = bo[['Title', 'IMDb_Rating']].sort_values(by = 'IMDb_Rating', ascending = True).head(10)
print(bottom_10_imdb)

                     Title  IMDb_Rating
468                 Race 3          1.9
491               Baaghi 3          2.2
571  Student of the Year 2          2.2
496            Heropanti 2          2.3
338         Chandramukhi 2          2.6
417                  Liger          2.6
478                 Gunday          2.7
213              Adipurush          2.7
565              Dabangg 3          3.0
495          A Flying Jatt          3.1

In [23]:
# 19) Write a query to get 5 longest run time movies 
long_rt = bo[['Title', 'Runtime_mins']].sort_values(by = 'Runtime_mins', ascending = False).head(5)
print(long_rt)

                      Title  Runtime_mins
114                  Animal           204
39                        I           188
45   RRR (Rise Roar Revolt)           187
103    Avane Srimannarayana           186
261                   Jilla           185

In [24]:
# 20) Write a query to get 5 shortest run time movies
short_rt = bo[['Title', 'Runtime_mins']].sort_values(by = 'Runtime_mins', ascending = True).head(5)
print(short_rt)

                                  Title  Runtime_mins
599                                Kill           105
497                      Raksha Bandhan           108
560  Bhoot: Part One - The Haunted Ship           114
477                              Hichki           116
407                    The Ghazi Attack           116

In [25]:
# 21) Top 7 movies by world wide collection in Bollywood 
bollywood_df = bo[bo['Industry'] == 'Bollywood']
top_7_wwc_b = bollywood_df[['Title', 'Worldwide_Collection']].sort_values(by = 'Worldwide_Collection', ascending = False).head(7)
print(top_7_wwc_b)

                          Title  Worldwide_Collection
524                      Dangal               2122.30
572                       Jawan               1160.00
573                     Pathaan               1055.00
503           Bajrangi Bhaijaan                922.10
114                      Animal                915.00
46             Secret Superstar                912.60
127  Stree 2: Sarkate Ka Aatank                857.07

In [26]:
# 22) Top 7 movies by world wide collection in Tollywood 
tollywood_df = bo[bo['Industry'] == 'Tollywood']
top_7_wwc_t = tollywood_df[['Title', 'Worldwide_Collection']].sort_values(by = 'Worldwide_Collection', ascending = False).head(7)
print(top_7_wwc_t)

                          Title  Worldwide_Collection
396  Bãhubali 2: The Conclusion               1788.00
45       RRR (Rise Roar Revolt)               1230.00
126               Kalki 2898-AD               1042.25
397     Bãhubali: The Beginning                650.00
212  Salaar: Part 1 - Ceasefire                617.75
200                       Saaho                451.00
455              Devara: Part 1                421.60

In [27]:
# 23) Top 7 movies by world wide collection in Kollywood 
kollywood_df = bo[bo['Industry'] == 'Kollywood']
top_7_wwc_k = kollywood_df[['Title', 'Worldwide_Collection']].sort_values(by = 'Worldwide_Collection', ascending = False).head(7)
print(top_7_wwc_k)

                         Title  Worldwide_Collection
285                          2                701.00
116                        Leo                605.90
117                     Jailer                604.50
77   Ponniyin Selvan: Part One                488.36
343                   The GOAT                451.23
74                      Vikram                414.43
333  Ponniyin Selvan: Part Two                344.63

In [28]:
# 24) Top 7 movies by world wide collection in Sandalwood 
sandalwood_df = bo[bo['Industry'] == 'Sandalwood']
top_7_wwc_s = sandalwood_df[['Title', 'Worldwide_Collection']].sort_values(by = 'Worldwide_Collection', ascending = False).head(7)
print(top_7_wwc_s)

                 Title  Worldwide_Collection
149   K.G.F: Chapter 2               1215.00
186            Kantara                407.82
148   K.G.F: Chapter 1                238.00
83         777 Charlie                102.75
187  VR (Vikrant Rona)                100.35
188              James                 94.20
201        Kurukshetra                 81.00

In [29]:
# 25) Top 7 movies by world wide collection in Mollywood 
mollywood_df = bo[bo['Industry'] == 'Mollywood']
top_7_wwc_m = mollywood_df[['Title', 'Worldwide_Collection']].sort_values(by = 'Worldwide_Collection', ascending = False).head(7)
print(top_7_wwc_m)

              Title  Worldwide_Collection
245  Manjummel Boys                241.10
217            2018                180.03
129   The Goat Life                157.35
130        Aavesham                154.79
177     Pulimurugan                150.00
132         Premalu                131.18
98          Lucifer                129.20

In [30]:
# 26) Write query to display industry and verdict wise films count 
films_iv = bo.groupby(['Industry', 'Verdict']).size()
print(films_iv)

Industry    Verdict
Bollywood   Above Average            7
            All Time Blockbuster     5
            Average                 18
            Below Average           14
            Blockbuster             30
            Disaster                25
            Flop                    22
            Hit                     39
            Super Hit               19
            Super Hitt               3
Kollywood   Above Average            5
            Average                  8
            Below Average           19
            Blockbuster             44
            Disaster                13
            Flop                    12
            Hit                     16
            Super Hit               23
Mollywood   All Time Blockbuster     4
            Blockbuster             46
            Disaster                 5
            Flop                     2
            Hit                     10
            Super Hit               17
Sandalwood  Above Average            2
            All Time Blockbuster     5
            Average                  3
            Below Average            4
            Blockbuster              7
            Disaster                 1
            Hit                      6
            Super Hit                4
Tollywood   Above Average            9
            All Time Blockbuster     2
            Average                 13
            Below Average           10
            Blockbuster             39
            Disaster                24
            Flop                    21
            Hit                     25
            Super Hit               22
            Super Hitt               1
dtype: int64

In [31]:
# 27) Write query to get films based on budget in Bollywood 
films_bud_b = bollywood_df[['Title', 'Budget']].sort_values(by = 'Budget', ascending = False)
print(films_bud_b)

                                Title  Budget
544        Brahmastra Part One: Shiva   400.0
572                             Jawan   300.0
484                Thugs of Hindostan   275.0
586                           Fighter   250.0
573                           Pathaan   250.0
..                                ...     ...
538                         Kahaani 2    20.0
602                   Laapataa Ladies     8.0
564                     Total Dhamaal     5.0
567                            Kesari     0.0
569  Manikarnika: The Queen of Jhansi     0.0

[182 rows x 2 columns]

In [32]:
# 28) Write query to get films based on budget in Tollywood 
films_bud_t = tollywood_df[['Title', 'Budget']].sort_values(by = 'Budget', ascending = False)
print(films_bud_t)

                          Title  Budget
45       RRR (Rise Roar Revolt)   550.0
213                   Adipurush   500.0
126               Kalki 2898-AD   500.0
427                 Radhe Shyam   300.0
212  Salaar: Part 1 - Ceasefire   280.0
..                          ...     ...
43                        Chalo     5.0
44                   Goodachari     5.0
54                  Arjun Reddy     5.0
236                     Balagam     3.0
24                       Rx 100     2.0

[166 rows x 2 columns]

In [33]:
# 29) Write query to get films based on budget in Kollywood
films_bud_k = kollywood_df[['Title', 'Budget']].sort_values(by = 'Budget', ascending = False)
print(films_bud_k)

                         Title  Budget
285                          2   540.0
343                   The GOAT   320.0
77   Ponniyin Selvan: Part One   250.0
333  Ponniyin Selvan: Part Two   250.0
116                        Leo   250.0
..                         ...     ...
332          Dhilluku Dhuddu 2     7.0
85                  Love Today     6.0
113                        LKG     5.0
142                    Vaazhai     5.0
125                       Dada     4.0

[140 rows x 2 columns]

In [34]:
# 30) Write query to get films based on budget in Sandalwood   
films_bud_s = sandalwood_df[['Title', 'Budget']].sort_values(by = 'Budget', ascending = False)
print(films_bud_s)

                               Title  Budget
149                 K.G.F: Chapter 2   100.0
187                VR (Vikrant Rona)    80.0
230                           Kabzaa    70.0
201                      Kurukshetra    60.0
148                 K.G.F: Chapter 1    50.0
225                          Kaatera    45.0
155                      The Villain    45.0
188                            James    40.0
202                         Pailwaan    35.0
228                           Kranti    35.0
181                          Roberrt    30.0
183                      Kotigobba 3    25.0
182                           Pogaru    25.0
145                      Yuvarathnaa    25.0
103             Avane Srimannarayana    25.0
169                      Anjaniputra    20.0
171                     Chakravarthy    20.0
144                      Raajakumara    20.0
108                         Yajamana    20.0
235                            Ghost    20.0
57                           Hebbuli    20.0
237  Sapta Sagaradaache Ello: Side A    20.0
203                 Natasaarvabhowma    20.0
186                          Kantara    16.0
207                            Odeya    15.0
4                           Maanikya    15.0
83                       777 Charlie    15.0
185                           Salaga    10.0
36                            Tagaru    10.0
255                           Bheema     8.0
156            Mr. And Mrs. Ramchari     6.0
13                            Ugramm     4.0

In [35]:
# 31) Write query to get films based on budget in Mollywood 
films_bud_m = mollywood_df[['Title', 'Budget']].sort_values(by = 'Budget', ascending = False)
print(films_bud_m)

                                 Title  Budget
178  Marakkar: Lion of the Arabian Sea   100.0
252               Malaikottai Vaaliban    60.0
159                             Odiyan    50.0
129                      The Goat Life    50.0
231                      King of Kotha    45.0
..                                 ...     ...
30                            Varathan     3.5
227                          Romancham     3.0
69       Kattappanayile Rithwik Roshan     3.0
73                    Action Hero Biju     3.0
42                 Sudani from Nigeria     2.0

[84 rows x 2 columns]

In [36]:
# 32) Top 5 movies by IMDb rating from Bollywood 
films_imdb_b = bollywood_df[['Title', 'IMDb_Rating']].sort_values(by = 'IMDb_Rating', ascending = False).head(5)
print(films_imdb_b)

                 Title  IMDb_Rating
121          12th Fail          8.8
79   The Kashmir Files          8.6
512             Sachin          8.5
602    Laapataa Ladies          8.4
524             Dangal          8.3

In [37]:
# 33) Top 5 movies by IMDb rating from Kollywood 
films_imdb_k = kollywood_df[['Title', 'IMDb_Rating']].sort_values(by = 'IMDb_Rating', ascending = False).head(5)
print(films_imdb_k)

                          Title  IMDb_Rating
316  Rocketry: The Nambi Effect          8.7
350                 Meiyazhagan          8.5
135                    Maharaja          8.5
25                           96          8.5
274                Vada Chennai          8.4

In [38]:
# 34) Top 5 movies by IMDb rating from Tollywood 
films_imdb_t = tollywood_df[['Title', 'IMDb_Rating']].sort_values(by = 'IMDb_Rating', ascending = False).head(5)
print(films_imdb_t)

            Title  IMDb_Rating
437        Jersey          8.5
84     Sita Ramam          8.5
35       Mahanati          8.4
360  Rangasthalam          8.2
226      Hi Nanna          8.2

In [39]:
# 35) Top 5 movies by IMDb rating from Sandalwood 
films_imdb_s = sandalwood_df[['Title', 'IMDb_Rating']].sort_values(by = 'IMDb_Rating', ascending = False).head(5)
print(films_imdb_s)

                               Title  IMDb_Rating
83                       777 Charlie          8.7
148                 K.G.F: Chapter 1          8.2
149                 K.G.F: Chapter 2          8.2
237  Sapta Sagaradaache Ello: Side A          8.2
186                          Kantara          8.2

In [40]:
# 36) Top 5 movies by IMDb rating from Mollywood 
films_imdb_m = mollywood_df[['Title', 'IMDb_Rating']].sort_values(by = 'IMDb_Rating', ascending = False).head(5)
print(films_imdb_m)

                  Title  IMDb_Rating
140  Kishkindha Kaandam          8.6
204   Kumbalangi Nights          8.5
189      Jana Gana Mana          8.3
217                2018          8.3
147      Bangalore Days          8.3

In [41]:
# 37) Write a query to get language wise budget? 
lang_bud = bo.groupby('Language')['Budget'].sum().reset_index()
lang_bud.columns = ['Language', 'Total_Budget']
print(lang_bud)

    Language  Total_Budget
0      Hindi       14535.0
1    Kannada         949.0
2  Malayalam        1342.5
3      Tamil        8682.0
4     Telugu        9144.5

In [42]:
# 38) Write a query to get language wise how many directors are there? 
lang_dir = bo.groupby('Language')['Director'].count().reset_index()
lang_dir.columns = ['Language', 'Total Directors']
print(lang_dir)

    Language  Total Directors
0      Hindi              182
1    Kannada               32
2  Malayalam               84
3      Tamil              140
4     Telugu              166

In [43]:
# 39) Write a query to get language wise worldwide total collection? 
lang_wwc = bo.groupby('Language')['Worldwide_Collection'].sum().reset_index()
lang_wwc.columns = ['Language','Total_Worldwide_Collection']
print(lang_wwc)

    Language  Total_Worldwide_Collection
0      Hindi                    38610.79
1    Kannada                     3369.42
2  Malayalam                     4597.32
3      Tamil                    15235.99
4     Telugu                    18065.27

In [44]:
# 40) Write a query to get language, lead actor/actress wise films they acted? 
lang_act =bo.groupby(['Language', 'Lead_Actor_Actress'])['Title'].apply(list).reset_index()
lang_act.columns = ['Language', 'Lead_Actor_Actress', 'Title']
print(lang_act)

    Language   Lead_Actor_Actress  \
0      Hindi           Aamir Khan
1      Hindi          Adah Sharma
2      Hindi    Aditya Roy Kapoor
3      Hindi           Ajay Devgn
4      Hindi         Akshay Kumar
..       ...                  ...
187   Telugu      Vennela Kishore
188   Telugu    Vijay Deverakonda
189   Telugu        Vikram Aditya
190   Telugu          Vishwak Sen
191   Telugu  amantha Ruth Prabhu

                                                 Title
0                                         [PK, Dangal]
1                                   [The Kerala Story]
2                       [Malang - Unleash the Madness]
3    [Drishyam 2, Tanhaji: The Unsung Warrior, Golm...
4    [Mission Mangal, Mission Raniganj: The Great B...
..                                                 ...
187                                 [Mathu Vadalara 2]
188  [Geetha Govindam, Arjun Reddy, Taxiwaala, The ...
189                                          [Manamey]
190          [Gaami, Gangs of Godavari, Das Ka Dhamki]
191                                          [Yashoda]

[192 rows x 3 columns]

In [45]:
# 41) Write a query to get language, year wise films released? 
lang_year = bo[['Language', 'Year', 'Title']].sort_values(by = ['Language', 'Year'])
print(lang_year)

    Language  Year                  Title
16     Hindi  2014             Ek Villain
460    Hindi  2014                     PK
461    Hindi  2014         Happy New Year
462    Hindi  2014                   Kick
463    Hindi  2014              Bang Bang
..       ...   ...                    ...
259   Telugu  2024      Gangs of Godavari
455   Telugu  2024         Devara: Part 1
456   Telugu  2024          Guntur Kaaram
457   Telugu  2024  Saripodhaa Sanivaaram
458   Telugu  2024        Naa Saami Ranga

[604 rows x 3 columns]

In [46]:
# 42) Write a query to get films which was not released on overseas? 
films_not_os = bo[bo['Overseas_Collection'] == 0]
print(films_not_os['Title'])

4                             Maanikya
13                              Ugramm
36                              Tagaru
57                             Hebbuli
169                        Anjaniputra
171                       Chakravarthy
181                            Roberrt
182                             Pogaru
183                        Kotigobba 3
185                             Salaga
225                            Kaatera
228                             Kranti
237    Sapta Sagaradaache Ello: Side A
255                             Bheema
340                         DD Returns
446                                118
Name: Title, dtype: object

In [47]:
# 43) Write a query to get language wise top 3 longest runtime moves? 
lrt_df = bo[['Language', 'Title', 'Runtime_mins']]
sort_lrt = lrt_df.sort_values(['Language', 'Runtime_mins'], ascending = [True, False])
lrt_films = sort_lrt.groupby('Language').head(3)
print(lrt_films)

      Language                              Title  Runtime_mins
114      Hindi                             Animal           204
176      Hindi       M.S. Dhoni: The Untold Story           184
594      Hindi                            Maidaan           181
103    Kannada               Avane Srimannarayana           186
201    Kannada                        Kurukshetra           185
225    Kannada                            Kaatera           183
178  Malayalam  Marakkar: Lion of the Arabian Sea           181
92   Malayalam                Ayyappanum Koshiyum           177
98   Malayalam                            Lucifer           175
39       Tamil                                  I           188
261      Tamil                              Jilla           185
270      Tamil                              Cobra           183
45      Telugu             RRR (Rise Roar Revolt)           187
54      Telugu                        Arjun Reddy           182
126     Telugu                      Kalki 2898-AD           180

In [48]:
# 44) Write a query to get language wise bottom 5 shortest runtime moves? 
sort_srt = lrt_df.sort_values(['Language', 'Runtime_mins'], ascending = [True, True])
srt_films = sort_srt.groupby('Language').head(5)
print(srt_films)

      Language                               Title  Runtime_mins
599      Hindi                                Kill           105
497      Hindi                      Raksha Bandhan           108
560      Hindi  Bhoot: Part One - The Haunted Ship           114
477      Hindi                              Hichki           116
514      Hindi                   Bareilly Ki Barfi           116
185    Kannada                              Salaga           124
36     Kannada                              Tagaru           129
13     Kannada                              Ugramm           132
235    Kannada                               Ghost           132
230    Kannada                              Kabzaa           134
87   Malayalam                        Malikappuram           121
42   Malayalam                 Sudani from Nigeria           123
143  Malayalam    Vaazha: Biopic of a Billion Boys           125
209  Malayalam                               Uyare           125
256  Malayalam                          Nunakkuzhi           125
279      Tamil                       Kochadaiiyaan           118
332      Tamil                   Dhilluku Dhuddu 2           119
326      Tamil                      Kadaram Kondan           121
317      Tamil                      Naane Varuvean           122
17       Tamil                          Badhaai ho           124
407     Telugu                    The Ghazi Attack           116
411     Telugu                                Guru           116
418     Telugu                   Raju Gari Gadhi 2           117
391     Telugu                         Nela Ticket           120
446     Telugu                                 118           120

In [49]:
# 45) Write a query to get language wise top 5 films based first day collections?
fdc_df = bo[['Language', 'Title', 'First_Day_Collection_Worldwide']]
sort_fdc = fdc_df.sort_values(by = ['Language', 'First_Day_Collection_Worldwide'], ascending = [True, False])
fdc_films = sort_fdc.groupby('Language').head(5)
print(fdc_films)

      Language                              Title  \
572      Hindi                              Jawan
114      Hindi                             Animal
573      Hindi                            Pathaan
574      Hindi                            Tiger 3
127      Hindi         Stree 2: Sarkate Ka Aatank
149    Kannada                   K.G.F: Chapter 2
187    Kannada                  VR (Vikrant Rona)
148    Kannada                   K.G.F: Chapter 1
188    Kannada                              James
181    Kannada                            Roberrt
178  Malayalam  Marakkar: Lion of the Arabian Sea
159  Malayalam                             Odiyan
180  Malayalam                              Kurup
129  Malayalam                      The Goat Life
246  Malayalam                              Turbo
116      Tamil                                Leo
285      Tamil                                  2
135      Tamil                           Maharaja
343      Tamil                           The GOAT
117      Tamil                             Jailer
45      Telugu             RRR (Rise Roar Revolt)
396     Telugu         Bãhubali 2: The Conclusion
126     Telugu                      Kalki 2898-AD
212     Telugu         Salaar: Part 1 - Ceasefire
455     Telugu                     Devara: Part 1

     First_Day_Collection_Worldwide
572                          129.10
114                          116.00
573                          104.80
574                           94.00
127                           80.00
149                          159.00
187                           25.50
148                           25.00
188                           23.50
181                           16.90
178                           20.30
159                           18.30
180                           18.30
129                           16.22
246                           15.70
116                          142.70
285                          105.00
135                          104.84
343                          100.75
117                           96.60
45                           223.00
396                          217.00
126                          177.70
212                          158.10
455                          142.00

In [50]:
# 46) Write a query to get language wise top 5 films based India gross collections?
igc_df = bo[['Language', 'Title', 'India_Gross_Collection']]
sort_igc = igc_df.sort_values(by = ['Language', 'India_Gross_Collection'], ascending = [True, False])
igc_films = sort_igc.groupby('Language').head(5)
print(igc_films)

      Language                       Title  India_Gross_Collection
572      Hindi                       Jawan                  760.00
127      Hindi  Stree 2: Sarkate Ka Aatank                  713.07
114      Hindi                      Animal                  660.00
573      Hindi                     Pathaan                  657.50
115      Hindi                     Gadar 2                  620.50
149    Kannada            K.G.F: Chapter 2                 1000.85
186    Kannada                     Kantara                  363.82
148    Kannada            K.G.F: Chapter 1                  228.00
83     Kannada                 777 Charlie                   96.95
187    Kannada           VR (Vikrant Rona)                   94.75
245  Malayalam              Manjummel Boys                  167.65
217  Malayalam                        2018                  110.53
177  Malayalam                 Pulimurugan                  105.90
130  Malayalam                    Aavesham                   98.79
129  Malayalam               The Goat Life                   97.85
285      Tamil                           2                  529.00
117      Tamil                      Jailer                  408.50
116      Tamil                         Leo                  401.90
77       Tamil   Ponniyin Selvan: Part One                  313.36
343      Tamil                    The GOAT                  295.13
396     Telugu  Bãhubali 2: The Conclusion                 1417.00
45      Telugu      RRR (Rise Roar Revolt)                  915.85
126     Telugu               Kalki 2898-AD                  767.25
397     Telugu     Bãhubali: The Beginning                  516.00
212     Telugu  Salaar: Part 1 - Ceasefire                  487.75

In [51]:
# 47) Write a query to get language, Director wise films count?
lang_d = bo.groupby(['Language', 'Director'])['Title'].count ().reset_index()
lang_d.columns = ['Language','Director','Total Films']
print(lang_d)

    Language          Director  Total Films
0      Hindi   A.R. Murugadoss            1
1      Hindi     Aanand L. Rai            3
2      Hindi       Abhinay Deo            1
3      Hindi   Abhishek Pathak            1
4      Hindi   Abhishek Varman            2
..       ...               ...          ...
397   Telugu   Vikram K. Kumar            3
398   Telugu  Vikram Sirikonda            1
399   Telugu     Vimal Krishna            1
400   Telugu       Vishwak Sen            1
401   Telugu     Vivek Athreya            2

[402 rows x 3 columns]

In [52]:
# 48) Write a query to get language wise OTT platform wise films count? 
lang_ott = bo.groupby(['Language', 'OTT_Platform'])['Title'].count ().reset_index()
lang_ott.columns = ['Language','OTT Platform','Total Films']
print(lang_ott)

     Language        OTT Platform  Total Films
0       Hindi                 Aha            1
1       Hindi  Amazon Prime Video           78
2       Hindi     Disney+ Hotstar           29
3       Hindi           JioCinema            3
4       Hindi             Netflix           52
5       Hindi             SonyLIV            1
6       Hindi                ZEE5           18
7     Kannada  Amazon Prime Video           27
8     Kannada     Disney+ Hotstar            1
9     Kannada             SonyLIV            1
10    Kannada                Voot            1
11    Kannada                ZEE5            2
12  Malayalam                 Aha            2
13  Malayalam  Amazon Prime Video           60
14  Malayalam     Disney+ Hotstar            7
15  Malayalam             Netflix            5
16  Malayalam             Sun NXT            7
17  Malayalam                ZEE5            3
18      Tamil                 Aha            1
19      Tamil  Amazon Prime Video          100
20      Tamil     Disney+ Hotstar            9
21      Tamil             Netflix           19
22      Tamil             SonyLIV            2
23      Tamil             Sun NXT            4
24      Tamil                ZEE5            5
25     Telugu                 Aha            4
26     Telugu  Amazon Prime Video          119
27     Telugu     Disney+ Hotstar            8
28     Telugu  Google Play Movies            1
29     Telugu             Netflix           23
30     Telugu                ZEE5           11

In [53]:
# 49) What are top 10 films based on language and first day collection? 
fdc_df = bo[['Language', 'Title', 'First_Day_Collection_Worldwide']]
sort_fdc = fdc_df.sort_values(by = ['Language', 'First_Day_Collection_Worldwide'], ascending = [True, False])
fdc_films = sort_fdc.groupby('Language').head(10)
print(fdc_films)

      Language                              Title  \
572      Hindi                              Jawan
114      Hindi                             Animal
573      Hindi                            Pathaan
574      Hindi                            Tiger 3
127      Hindi         Stree 2: Sarkate Ka Aatank
484      Hindi                 Thugs of Hindostan
199      Hindi                                War
27       Hindi                             Sultan
544      Hindi         Brahmastra Part One: Shiva
519      Hindi               Prem Ratan Dhan Payo
149    Kannada                   K.G.F: Chapter 2
187    Kannada                  VR (Vikrant Rona)
148    Kannada                   K.G.F: Chapter 1
188    Kannada                              James
181    Kannada                            Roberrt
225    Kannada                            Kaatera
230    Kannada                             Kabzaa
155    Kannada                        The Villain
228    Kannada                             Kranti
182    Kannada                             Pogaru
178  Malayalam  Marakkar: Lion of the Arabian Sea
159  Malayalam                             Odiyan
180  Malayalam                              Kurup
129  Malayalam                      The Goat Life
246  Malayalam                              Turbo
231  Malayalam                      King of Kotha
98   Malayalam                            Lucifer
15   Malayalam                     Bheeshmaparvam
252  Malayalam               Malaikottai Vaaliban
130  Malayalam                           Aavesham
116      Tamil                                Leo
285      Tamil                                  2
135      Tamil                           Maharaja
343      Tamil                           The GOAT
117      Tamil                             Jailer
262      Tamil                             Kabali
260      Tamil                              Beast
77       Tamil          Ponniyin Selvan: Part One
263      Tamil                             Sarkar
344      Tamil                          Vettaiyan
45      Telugu             RRR (Rise Roar Revolt)
396     Telugu         Bãhubali 2: The Conclusion
126     Telugu                      Kalki 2898-AD
212     Telugu         Salaar: Part 1 - Ceasefire
455     Telugu                     Devara: Part 1
213     Telugu                          Adipurush
433     Telugu            Sye Raa Narasimha Reddy
397     Telugu            Bãhubali: The Beginning
456     Telugu                      Guntur Kaaram
364     Telugu                Sarkaru Vaari Paata

     First_Day_Collection_Worldwide
572                          129.10
114                          116.00
573                          104.80
574                           94.00
127                           80.00
484                           76.00
199                           74.30
27                            71.30
544                           70.00
519                           66.20
149                          159.00
187                           25.50
148                           25.00
188                           23.50
181                           16.90
225                           13.00
230                           12.50
155                           12.00
228                           11.60
182                           10.25
178                           20.30
159                           18.30
180                           18.30
129                           16.22
246                           15.70
231                           15.00
98                            14.00
15                            12.20
252                           12.15
130                           10.50
116                          142.70
285                          105.00
135                          104.84
343                          100.75
117                           96.60
262                           90.00
260                           82.40
77                            80.70
263                           71.00
344                           67.00
45                           223.00
396                          217.00
126                          177.70
212                          158.10
455                          142.00
213                          127.50
433                           85.00
397                           73.00
456                           68.70
364                           68.50

In [54]:
# 50) Write a query to get director wise number of films released in from year 2017 to 2019.
year_films = bo[bo['Year'].isin([2017,2018,2019])]
dir_films = year_films.groupby('Director')['Title'].count().reset_index()
dir_films.columns = ['Director', 'Total Films']
print(dir_films)

             Director  Total Films
0     A.R. Murugadoss            2
1       Aanand L. Rai            1
2          Aashiq Abu            1
3     Abhishek Varman            1
4         Aditya Dhar            1
..                ...          ...
185   Vikram K. Kumar            2
186  Vikram Sirikonda            1
187            Vysakh            1
188          Zakariya            1
189       Zoya Akhtar            1

[190 rows x 2 columns]

In [55]:
# 51) Write a query to get director wise world wide collections? 
dir_wwc = bo.groupby('Director')['Worldwide_Collection'].sum().reset_index()
dir_wwc.columns = ['Director', 'Total Worldwide Collection']
print(dir_wwc)

            Director  Total Worldwide Collection
0    A.R. Murugadoss                      920.60
1      Aanand L. Rai                      504.38
2         Aashiq Abu                       22.20
3    Abhilash Joshiy                       39.10
4        Abhinay Deo                       58.70
..               ...                         ...
379  Vivek Agnihotri                      341.00
380    Vivek Athreya                      136.53
381           Vysakh                      300.65
382         Zakariya                       24.70
383      Zoya Akhtar                      385.70

[384 rows x 2 columns]

In [56]:
# 52) Write a query to get director wise first day world wide collections?
dir_fdc = bo.groupby('Director')['First_Day_Collection_Worldwide'].sum().reset_index()
dir_fdc.columns = ['Director', 'Total First Day Collection Worldwide']
print(dir_fdc)

            Director  Total First Day Collection Worldwide
0    A.R. Murugadoss                                212.10
1      Aanand L. Rai                                 44.70
2         Aashiq Abu                                  1.10
3    Abhilash Joshiy                                 15.00
4        Abhinay Deo                                  6.10
..               ...                                   ...
379  Vivek Agnihotri                                  4.90
380    Vivek Athreya                                 29.95
381           Vysakh                                 28.90
382         Zakariya                                  2.00
383      Zoya Akhtar                                 30.50

[384 rows x 2 columns]

In [57]:
# 53) Write a query to get director wise India gross collections?  
dir_igc = bo.groupby('Director')['India_Gross_Collection'].sum().reset_index()
dir_igc.columns = ['Director', 'Total India Gross Collection']
print(dir_igc)

            Director  Total India Gross Collection
0    A.R. Murugadoss                        699.70
1      Aanand L. Rai                        392.18
2         Aashiq Abu                         15.80
3    Abhilash Joshiy                         23.20
4        Abhinay Deo                         48.20
..               ...                           ...
379  Vivek Agnihotri                        295.00
380    Vivek Athreya                         99.53
381           Vysakh                        208.55
382         Zakariya                         21.00
383      Zoya Akhtar                        271.40

[384 rows x 2 columns]

In [58]:
# 54) Write a query to get director wise overseas collections? '
dir_oc = bo.groupby('Director')['Overseas_Collection'].sum().reset_index()
dir_oc.columns = ['Director', 'Total Overseas Collection']
print(dir_oc)

            Director  Total Overseas Collection
0    A.R. Murugadoss                      220.9
1      Aanand L. Rai                      112.2
2         Aashiq Abu                        6.4
3    Abhilash Joshiy                       15.9
4        Abhinay Deo                       10.5
..               ...                        ...
379  Vivek Agnihotri                       46.0
380    Vivek Athreya                       37.0
381           Vysakh                       92.1
382         Zakariya                        3.1
383      Zoya Akhtar                      114.3

[384 rows x 2 columns]

In [59]:
# 55) Write a query to get director, lead actor/actress and number of films? 
dir_laa = bo.groupby(['Director', 'Lead_Actor_Actress'])['Title'].count().reset_index()
dir_laa.columns = ['Director', 'Lead Actor/Actress', 'Total Films']
print(dir_laa)

            Director Lead Actor/Actress  Total Films
0    A.R. Murugadoss       Akshay Kumar            1
1    A.R. Murugadoss       Joseph Vijay            2
2    A.R. Murugadoss        Mahesh Babu            1
3    A.R. Murugadoss        Rajinikanth            1
4      Aanand L. Rai       Akshay Kumar            1
..               ...                ...          ...
554           Vysakh          Mammootty            2
555           Vysakh           Mohanlal            1
556         Zakariya      Soubin Shahir            1
557      Zoya Akhtar        Anil Kapoor            1
558      Zoya Akhtar      Ranveer Singh            1

[559 rows x 3 columns]

In [60]:
# 56) Write a query to get films which is having budget on between 150 crores and 277 crores?
films_bud = bo[(bo['Budget'] >= 150) & (bo['Budget'] <= 277)]
f_bud = films_bud.sort_values(by = 'Budget', ascending = True)
print(f_bud[['Title', 'Budget']])

                               Title  Budget
456                    Guntur Kaaram   150.0
468                           Race 3   150.0
371        Pushpa: The Rise - Part 1   150.0
301                          Valimai   150.0
260                            Beast   150.0
546                     Vikram Vedha   150.0
461                   Happy New Year   150.0
114                           Animal   150.0
91       Tanhaji: The Unsung Warrior   150.0
549                        Shamshera   150.0
576  Rocky Aur Rani Kii Prem Kahaani   150.0
543                       Bellbottom   160.0
463                        Bang Bang   160.0
469                          Dilwale   165.0
548                Bachchhan Paandey   165.0
199                              War   175.0
277                        Annaatthe   180.0
498               Laal Singh Chaddha   180.0
493              Gangubai Kathiawadi   180.0
474                     Sooryavanshi   180.0
397          Bãhubali: The Beginning   180.0
519             Prem Ratan Dhan Payo   180.0
26                         Padmaavat   190.0
214                           Varisu   200.0
47                   Tiger Zinda Hai   200.0
473                             Zero   200.0
344                        Vettaiyan   200.0
268                           Darbar   200.0
541                               83   200.0
117                           Jailer   200.0
547                Samrat Prithviraj   220.0
574                          Tiger 3   250.0
573                          Pathaan   250.0
77         Ponniyin Selvan: Part One   250.0
116                              Leo   250.0
455                   Devara: Part 1   250.0
333        Ponniyin Selvan: Part Two   250.0
345                         Indian 2   250.0
396       Bãhubali 2: The Conclusion   250.0
586                          Fighter   250.0
591           Bade Miyan Chote Miyan   250.0
484               Thugs of Hindostan   275.0

In [61]:
# 57) Write a query to get director, week name wise films released? 
dir_wn = bo.groupby(['Director', 'Week_Name'])['Title'].count().reset_index()
dir_wn.columns = ['Director', 'Week Name', 'Total Films']
print(dir_wn)

            Director  Week Name  Total Films
0    A.R. Murugadoss     Friday            2
1    A.R. Murugadoss  Wednesday            3
2      Aanand L. Rai     Friday            2
3      Aanand L. Rai   Thursday            1
4         Aashiq Abu     Friday            1
..               ...        ...          ...
469    Vivek Athreya  Wednesday            1
470           Vysakh     Friday            2
471           Vysakh   Thursday            1
472         Zakariya     Friday            1
473      Zoya Akhtar     Friday            2

[474 rows x 3 columns]

In [62]:
# 58) Write a query to get OTT platform and director wise films released? 
ott_dir = bo.groupby(['OTT_Platform', 'Director'])['Title'].count().reset_index()
ott_dir.columns = ['OTT Platform', 'Director', 'Total Films']
print(ott_dir)

    OTT Platform              Director  Total Films
0            Aha    Gopichand Malineni            1
1            Aha         Jeethu Joseph            1
2            Aha            Mallik Ram            1
3            Aha         Neeraj Pandey            1
4            Aha                Prabhu            1
..           ...                   ...          ...
468         ZEE5  Trinadha Rao Nakkina            1
469         ZEE5          Venky Atluri            2
470         ZEE5           Vetrimaaran            1
471         ZEE5      Vidyadhar Kagita            1
472         ZEE5       Vivek Agnihotri            1

[473 rows x 3 columns]

In [63]:
# 59) Write a query to get director wise films released on Friday only? 
fri_films = bo[bo['Week_Name'] == 'Friday']
dir_fri = fri_films.groupby('Director')['Title'].count().reset_index()
dir_fri.columns = ['Director', 'Total Films']
print(dir_fri)

            Director  Total Films
0    A.R. Murugadoss            2
1      Aanand L. Rai            2
2         Aashiq Abu            1
3        Abhinay Deo            1
4      Abhishek Nama            1
..               ...          ...
306  Vivek Agnihotri            1
307    Vivek Athreya            1
308           Vysakh            2
309         Zakariya            1
310      Zoya Akhtar            2

[311 rows x 2 columns]

In [64]:
# 60) Write a query to get films based on IMDb rating between 6.5 and 7.7?
imdb_films = bo[(bo['IMDb_Rating'] >= 6.5) & (bo['IMDb_Rating'] <= 7.7)]
imdb_f = imdb_films.sort_values(by = 'IMDb_Rating', ascending = True)
print(imdb_f[['Title', 'IMDb_Rating']])

                        Title  IMDb_Rating
356                   Yashoda          6.5
253                      Star          6.5
254                     Gaami          6.5
95             Mission Mangal          6.5
265                     Kaala          6.5
..                        ...          ...
18             Njan Prakashan          7.7
367                    Dhruva          7.7
485                     Raazi          7.7
601  Swatantrya Veer Savarkar          7.7
323          Nerkonda Paarvai          7.7

[235 rows x 2 columns]

In [65]:
# 61) Write a query to get director, films and IMDb ratings? 
dif_df = bo[['Director', 'Title', 'IMDb_Rating']]
dir_imdb_films = dif_df.sort_values(by = ['Director', 'Title'], ascending = True)
print(dir_imdb_films)

            Director                Title  IMDb_Rating
268  A.R. Murugadoss               Darbar          5.9
466  A.R. Murugadoss              Holiday          7.2
3    A.R. Murugadoss              Kaththi          8.1
263  A.R. Murugadoss               Sarkar          6.7
366  A.R. Murugadoss               Spyder          6.3
..               ...                  ...          ...
177           Vysakh          Pulimurugan          6.6
246           Vysakh                Turbo          5.9
42          Zakariya  Sudani from Nigeria          8.1
521      Zoya Akhtar      Dil Dhadakne Do          7.0
563      Zoya Akhtar            Gully Boy          7.9

[604 rows x 3 columns]

In [66]:
# 62) Write a query to get films with highest budget based flop verdict? 
flop = bo[bo['Verdict'] == 'Flop']
flop_films = flop.sort_values(by = ['Budget'], ascending = False)
print(flop_films[['Title', 'Budget']])

                       Title  Budget
484       Thugs of Hindostan   275.0
541                       83   200.0
277                Annaatthe   180.0
301                  Valimai   150.0
546             Vikram Vedha   150.0
468                   Race 3   150.0
366                   Spyder   120.0
280                  Vivegam   120.0
491                 Baaghi 3   100.0
403                Godfather   100.0
502                Tubelight   100.0
449                      Bro   100.0
162         Street Dancer 3D   100.0
593          Chandu Champion    90.0
348               Thangalaan    80.0
467           Action Jackson    80.0
571    Student of the Year 2    75.0
435      Vinaya Vidheya Rama    75.0
346                  Ayalaan    75.0
399     Sardaar Gabbar Singh    75.0
273   Etharkkum Thunindhavan    65.0
154   Bruce Lee: The Fighter    60.0
597                    Yodha    60.0
165             Love Aaj Kal    60.0
309  Massu Engira Masilamani    60.0
488                 Chhapaak    50.0
159                   Odiyan    50.0
452      Tiger Nageswara Rao    50.0
490            Munna Michael    45.0
495            A Flying Jatt    45.0
537                  Force 2    40.0
249                    Eagle    40.0
559         Jawaani Jaaneman    40.0
326           Kadaram Kondan    40.0
515                    Panga    40.0
441             Dear Comrade    35.0
313                   Prince    35.0
341              Pathu Thala    35.0
412       Jaya Janaki Nayaka    35.0
359             The Warriorr    35.0
539                    Azhar    35.0
153   Velaiilla Pattadhari 2    30.0
458          Naa Saami Ranga    30.0
429        Ante Sundharaniki    30.0
423                   Kick 2    30.0
317           Naane Varuvean    30.0
415             Paisa Vasool    30.0
377      Krishnarjuna Yudham    25.0
375     Sailaja Reddy Alludu    25.0
370                  Rang De    25.0
553               Badhaai Do    25.0
244                      Spy    25.0
421            Goutham Nanda    20.0
385       Srinivasa Kalyanam    20.0
554                    Jhund    20.0
556                     Chup    20.0
195                 Aaraattu    18.0

In [67]:
# 63) Write a query to get total number of directors? 
print("Total Number of Directors: ", bo['Director'].nunique())

Total Number of Directors:  384

In [68]:
# 64) Write a query to get verdict wise total films released?
verdict_films = bo.groupby('Verdict')['Title'].count()
verdict_films.columns = ['Verdict', 'Total Films']
print(verdict_films)

Verdict
Above Average            23
All Time Blockbuster     16
Average                  42
Below Average            47
Blockbuster             166
Disaster                 68
Flop                     57
Hit                      96
Super Hit                85
Super Hitt                4
Name: Title, dtype: int64

In [69]:
# 65) Write a query to get top 10 directors based on number of films? 
tdir = bo.groupby('Director')['Title'].count().reset_index()
tdir.columns = ['Director', 'Total Films']
t10_dir = tdir.sort_values(by = ['Total Films'], ascending = False).head(10)
print(t10_dir)

               Director  Total Films
345  Trivikram Srinivas            6
266        Rohit Shetty            6
0       A.R. Murugadoss            5
313                Siva            5
34        Anil Ravipudi            5
67       Boyapati Srinu            5
147       Koratala Siva            5
261        Remo D'Souza            4
55                Atlee            4
311     Siddharth Anand            4

In [70]:
# 66) Write a query to get top 5 directors based on world wide collections and also industry wise?
wwc_dir = bo.groupby(['Industry', 'Director'])['Worldwide_Collection'].sum().reset_index()
wwc_dir.columns = ['Industry', 'Director', 'Total Worldwide Collection']
t5_wwid = wwc_dir.sort_values(by = ['Industry', 'Total Worldwide Collection'], ascending = [True, False])
t5_wwid = t5_wwid.groupby('Industry').head(5)
print(t5_wwid)

       Industry                                 Director  \
105   Bollywood                          Siddharth Anand
68    Bollywood                            Nitesh Tiwari
82    Bollywood                          Rajkumar Hirani
89    Bollywood                             Rohit Shetty
96    Bollywood                      Sandeep Reddy Vanga
153   Kollywood                         Lokesh Kanagaraj
188   Kollywood                               S. Shankar
168   Kollywood                        Nelson Dilipkumar
160   Kollywood  Mani Ratnam, Sruti Harihara Subramanian
192   Kollywood                                     Siva
273   Mollywood                                   Vysakh
224   Mollywood                              Chidambaram
238   Mollywood                           Jithu Madhavan
241   Mollywood                      Jude Anthany Joseph
230   Mollywood                              Girish A.D.
286  Sandalwood                           Prashanth Neel
289  Sandalwood                            Rishab Shetty
293  Sandalwood                       Santhosh Ananddram
298  Sandalwood                             Tarun Sudhir
281  Sandalwood                               Kiranraj K
358   Tollywood                           S.S. Rajamouli
343   Tollywood                               Nag Ashwin
385   Tollywood                       Trivikram Srinivas
331   Tollywood                            Koratala Siva
379   Tollywood                                  Sukumar

     Total Worldwide Collection
105                     2229.45
68                      2122.30
82                      1834.50
89                      1656.60
96                      1292.00
153                     1350.13
188                     1089.83
168                      952.88
160                      832.99
192                      727.90
273                      300.65
224                      241.10
238                      223.79
241                      180.03
230                      165.28
286                     1484.00
289                      407.82
293                      166.70
298                      150.00
281                      102.75
358                     3668.00
343                     1125.75
385                      877.45
331                      838.60
379                      709.50

In [71]:
# 67) Write a query to get top 3 directors based on India gross collections in Bollywood industry?
bdir = bollywood_df.groupby('Director')['India_Gross_Collection'].sum().reset_index()
bdir.columns = ['Director', 'Total India Gross Collection']
t3_bdir = bdir.sort_values(by = ['Total India Gross Collection'], ascending = False).head(3)
print(t3_bdir)

            Director  Total India Gross Collection
105  Siddharth Anand                       1560.91
89      Rohit Shetty                       1246.20
82   Rajkumar Hirani                       1199.50

In [72]:
# 68) Write a query to get top 3 directors based on India gross collections in Tollywood industry?
tdir = tollywood_df.groupby('Director')['India_Gross_Collection'].sum().reset_index()
tdir.columns = ['Director', 'Total India Gross Collection']
t3_tdir = tdir.sort_values(by = ['Total India Gross Collection'], ascending = False).head(3)
print(t3_tdir)

              Director  Total India Gross Collection
57      S.S. Rajamouli                       2848.85
42          Nag Ashwin                        840.25
84  Trivikram Srinivas                        711.65

In [73]:
# 69) Write a query to get top 3 directors based on India gross collections in Kollywood industry?
kdir = kollywood_df.groupby('Director')['India_Gross_Collection'].sum().reset_index()
kdir.columns = ['Director', 'Total India Gross Collection']
t3_kdir = kdir.sort_values(by = ['Total India Gross Collection'], ascending = False).head(3)
print(t3_kdir)

             Director  Total India Gross Collection
32   Lokesh Kanagaraj                        956.88
67         S. Shankar                        826.83
47  Nelson Dilipkumar                        669.88

In [74]:
# 70) Write a query to get top 3 directors based on India gross collections in Mollywood industry?
mdir = mollywood_df.groupby('Director')['India_Gross_Collection'].sum().reset_index()
mdir.columns = ['Director', 'Total India Gross Collection']
t3_mdir = mdir.sort_values(by = ['Total India Gross Collection'], ascending = False).head(3)
print(t3_mdir)

          Director  Total India Gross Collection
65          Vysakh                        208.55
16     Chidambaram                        167.65
30  Jithu Madhavan                        144.49

In [75]:
# 71) Write a query to get top 3 directors based on India gross collections in Sandalwood industry?
sdir = sandalwood_df.groupby('Director')['India_Gross_Collection'].sum().reset_index()
sdir.columns = ['Director', 'Total India Gross Collection']
t3_sdir = sdir.sort_values(by = ['Total India Gross Collection'], ascending = False).head(3)
print(t3_sdir)

              Director  Total India Gross Collection
11      Prashanth Neel                       1259.85
14       Rishab Shetty                        363.82
18  Santhosh Ananddram                        164.40

In [76]:
# 72) Write to get total number of genres? 
print("Total Number of Genres: ", bo['Genre'].nunique())

Total Number of Genres:  159

In [77]:
# 73) Write query to get director, language, genre films count? 
dlg_films = bo.groupby(['Director', 'Language', 'Genre'])['Title'].count().reset_index()
dlg_films.columns = ['Director', 'Language', 'Genre', 'Total Films']
dlg_films = dlg_films.sort_values(by = ['Director', 'Language', 'Genre'], ascending = [True, True, True])
print(dlg_films)

            Director   Language                    Genre  Total Films
0    A.R. Murugadoss      Hindi  Action, Crime, Thriller            1
1    A.R. Murugadoss      Tamil  Action, Crime, Thriller            1
2    A.R. Murugadoss      Tamil            Action, Drama            2
3    A.R. Murugadoss     Telugu  Action, Crime, Thriller            1
4      Aanand L. Rai      Hindi    Comedy, Drama, Family            1
..               ...        ...                      ...          ...
561           Vysakh  Malayalam    Action, Comedy, Drama            1
562           Vysakh  Malayalam         Action, Thriller            1
563         Zakariya  Malayalam            Comedy, Sport            1
564      Zoya Akhtar      Hindi   Comedy, Drama, Romance            1
565      Zoya Akhtar      Hindi    Drama, Music, Romance            1

[566 rows x 4 columns]

In [78]:
# 74) Write a query to genre wise budget? 
gen_bud = bo.groupby('Genre')['Budget'].sum().reset_index()
gen_bud.columns = ['Genre', 'Total Budget']
print(gen_bud)

                                         Genre  Total Budget
0                                       Action         192.0
1                            Action, Adventure         290.0
2                    Action, Adventure, Comedy          55.0
3             Action, Adventure, Comedy, Drama         120.0
4    Action, Adventure, Comedy, Drama, Fantasy          25.0
..                                         ...           ...
154                  Horror, Mystery, Thriller          53.0
155                           Horror, Thriller          15.0
156                                    Mystery          13.0
157                          Mystery, Thriller          20.0
158                                    Romance          90.0

[159 rows x 2 columns]

In [79]:
# 75) Write a query to get genre wise first day worldwide collections? 
gen_fdwc = bo.groupby('Genre')['First_Day_Collection_Worldwide'].sum().reset_index()
gen_fdwc.columns = ['Genre', 'Total First Day Collection Worldwide']
print(gen_fdwc)

                                         Genre  \
0                                       Action
1                            Action, Adventure
2                    Action, Adventure, Comedy
3             Action, Adventure, Comedy, Drama
4    Action, Adventure, Comedy, Drama, Fantasy
..                                         ...
154                  Horror, Mystery, Thriller
155                           Horror, Thriller
156                                    Mystery
157                          Mystery, Thriller
158                                    Romance

     Total First Day Collection Worldwide
0                                   58.25
1                                   78.50
2                                   28.00
3                                   33.45
4                                    5.50
..                                    ...
154                                  9.25
155                                  5.05
156                                  4.66
157                                  4.30
158                                 36.60

[159 rows x 2 columns]

In [80]:
# 76) Write a query to get genre wise overseas collections? 
gen_oc = bo.groupby('Genre')['Overseas_Collection'].sum().reset_index()
gen_oc.columns = ['Genre', 'Total Overseas Collection']
print(gen_oc)

                                         Genre  Total Overseas Collection
0                                       Action                      66.00
1                            Action, Adventure                     162.25
2                    Action, Adventure, Comedy                      73.50
3             Action, Adventure, Comedy, Drama                     521.70
4    Action, Adventure, Comedy, Drama, Fantasy                       4.10
..                                         ...                        ...
154                  Horror, Mystery, Thriller                      21.00
155                           Horror, Thriller                      41.65
156                                    Mystery                      47.22
157                          Mystery, Thriller                      11.30
158                                    Romance                      22.40

[159 rows x 2 columns]

In [81]:
# 77) Write a query to get genre wise India gross collections? 
gen_igc = bo.groupby('Genre')['India_Gross_Collection'].sum().reset_index()
gen_igc.columns = ['Genre', 'Total India Gross Collection']
print(gen_igc)

                                         Genre  Total India Gross Collection
0                                       Action                        339.20
1                            Action, Adventure                        250.00
2                    Action, Adventure, Comedy                        278.10
3             Action, Adventure, Comedy, Drama                        502.40
4    Action, Adventure, Comedy, Drama, Fantasy                         71.20
..                                         ...                           ...
154                  Horror, Mystery, Thriller                         95.40
155                           Horror, Thriller                         41.65
156                                    Mystery                         47.22
157                          Mystery, Thriller                         44.60
158                                    Romance                        124.66

[159 rows x 2 columns]

In [82]:
# 78) Write a query to get genre wise top 2 longest run time movies? 
gen_rt_films = bo[['Genre', 'Title', 'Runtime_mins']]
t2_films = gen_rt_films.sort_values(by =['Genre', 'Runtime_mins'], ascending = [True, False])
t2_films = t2_films.groupby('Genre').head(2)
print(t2_films)

                         Genre                    Title  Runtime_mins
225                     Action                  Kaatera           183
108                     Action                 Yajamana           164
484          Action, Adventure       Thugs of Hindostan           164
223          Action, Adventure  RDX: Robert Dony Xavier           151
564  Action, Adventure, Comedy            Total Dhamaal           130
..                         ...                      ...           ...
142                    Mystery                  Vaazhai           134
256                    Mystery               Nunakkuzhi           125
538          Mystery, Thriller                Kahaani 2           127
402                    Romance               Love Story           155
445                    Romance                Mr. Majnu           145

[238 rows x 3 columns]

In [83]:
# 79) Write a query to get genre wise bottom shortest runtime movies? 
b1_films = bo[['Genre', 'Title', 'Runtime_mins']]
b1_films = b1_films.sort_values(by =['Genre', 'Runtime_mins'], ascending = [True, True])
b1_films = b1_films.groupby('Genre').head(1)
print(b1_films)

                                         Genre  \
349                                     Action
223                          Action, Adventure
533                  Action, Adventure, Comedy
136           Action, Adventure, Comedy, Drama
103  Action, Adventure, Comedy, Drama, Fantasy
..                                         ...
560                  Horror, Mystery, Thriller
141                           Horror, Thriller
256                                    Mystery
538                          Mystery, Thriller
357                                    Romance

                                  Title  Runtime_mins
349                             Garudan           133
223             RDX: Robert Dony Xavier           151
533                             Dishoom           124
136                               A.R.M           150
103                Avane Srimannarayana           186
..                                  ...           ...
560  Bhoot: Part One - The Haunted Ship           114
141                    Demonte Colony 2           144
256                          Nunakkuzhi           125
538                           Kahaani 2           127
357                            18 Pages           135

[159 rows x 3 columns]

In [84]:
# 80) Write a query to get verdict, genre wise films released? 
ver_gen_films = bo.groupby(['Verdict', 'Genre'])['Title'].count().reset_index()
ver_gen_films.columns = ['Verdict', 'Genre', 'Total Films']
print(ver_gen_films)

           Verdict                           Genre  Total Films
0    Above Average           Action, Comedy, Crime            1
1    Above Average  Action, Comedy, Drama, Romance            1
2    Above Average         Action, Comedy, Romance            1
3    Above Average                   Action, Crime            1
4    Above Average            Action, Crime, Drama            1
..             ...                             ...          ...
354      Super Hit       Horror, Mystery, Thriller            1
355     Super Hitt         Action, Drama, Thriller            1
356     Super Hitt                Action, Thriller            1
357     Super Hitt                   Comedy, Drama            1
358     Super Hitt         Drama, Horror, Thriller            1

[359 rows x 3 columns]

In [85]:
# 81) Write a query to get genre, OTT platform wise films count? 
gen_ott_films = bo.groupby(['Genre', 'OTT_Platform'])['Title'].count().reset_index()
gen_ott_films.columns = ['Genre', 'OTT_Platform', 'Total Films']
print(gen_ott_films)

                                Genre        OTT_Platform  Total Films
0                              Action  Amazon Prime Video            7
1                   Action, Adventure  Amazon Prime Video            2
2           Action, Adventure, Comedy     Disney+ Hotstar            2
3    Action, Adventure, Comedy, Drama  Amazon Prime Video            1
4    Action, Adventure, Comedy, Drama     Disney+ Hotstar            1
..                                ...                 ...          ...
259                           Mystery                ZEE5            1
260                 Mystery, Thriller                ZEE5            1
261                           Romance  Amazon Prime Video            2
262                           Romance             Netflix            1
263                           Romance                ZEE5            1

[264 rows x 3 columns]

In [86]:
# 82) Write a query to get genre wise films count? 
gen_films = bo.groupby('Genre')['Title'].count().reset_index()
gen_films.columns = ['Genre', 'Total Films']
print(gen_films)

                                         Genre  Total Films
0                                       Action            7
1                            Action, Adventure            2
2                    Action, Adventure, Comedy            2
3             Action, Adventure, Comedy, Drama            2
4    Action, Adventure, Comedy, Drama, Fantasy            1
..                                         ...          ...
154                  Horror, Mystery, Thriller            3
155                           Horror, Thriller            1
156                                    Mystery            2
157                          Mystery, Thriller            1
158                                    Romance            4

[159 rows x 2 columns]

In [87]:
# 83) Write a query to get genre wise films count in Tollywood Industry? 
gen_t_films = tollywood_df.groupby('Genre')['Title'].count().reset_index()
gen_t_films.columns = ['Genre', 'Total Films']
print(gen_t_films)

                                                Genre  Total Films
0                            Action, Adventure, Drama            3
1                   Action, Adventure, Drama, Fantasy            1
2   Action, Adventure, Drama, Fantasy, Sci-Fi, Thr...            1
3                   Action, Adventure, Drama, History            1
4                          Action, Adventure, Fantasy            1
..                                                ...          ...
60                            Drama, Sci-Fi, Thriller            1
61                                       Drama, Sport            1
62                                  Fantasy, Thriller            1
63                                             Horror            1
64                                            Romance            4

[65 rows x 2 columns]

In [88]:
# 84) Write a query to get genre wise films count in Kollywood Industry? 
gen_k_films = kollywood_df.groupby('Genre')['Title'].count().reset_index()
gen_k_films.columns = ['Genre', 'Total Films']
print(gen_k_films)

                                               Genre  Total Films
0                                             Action            3
1                           Action, Adventure, Drama            2
2                  Action, Adventure, Drama, History            1
3                 Action, Adventure, Drama, Thriller            1
4                         Action, Adventure, Fantasy            1
5                          Action, Adventure, Sci-Fi            1
6                Action, Adventure, Sci-Fi, Thriller            2
7                                     Action, Comedy            2
8                              Action, Comedy, Crime            1
9               Action, Comedy, Crime, Drama, Sci-Fi            1
10            Action, Comedy, Crime, Drama, Thriller            2
11                   Action, Comedy, Crime, Thriller            2
12                             Action, Comedy, Drama            5
13          Action, Comedy, Drama, Fantasy, Thriller            1
14                     Action, Comedy, Drama, Horror            2
15  Action, Comedy, Drama, Musical, Sci-Fi, Thriller            1
16                    Action, Comedy, Drama, Romance            3
17                   Action, Comedy, Fantasy, Horror            1
18                            Action, Comedy, Horror            1
19                              Action, Crime, Drama            6
20           Action, Crime, Drama, Mystery, Thriller            2
21                    Action, Crime, Drama, Thriller           14
22                           Action, Crime, Thriller           13
23                                     Action, Drama           17
24                            Action, Drama, Romance            3
25          Action, Drama, Romance, Sci-Fi, Thriller            1
26                   Action, Drama, Sci-Fi, Thriller            1
27                              Action, Drama, Sport            2
28                           Action, Drama, Thriller            8
29                          Action, Horror, Thriller            1
30                         Action, Romance, Thriller            1
31                          Action, Sci-Fi, Thriller            2
32                                  Action, Thriller            7
33             Animation, Action, Adventure, History            1
34                                  Biography, Drama            1
35                                            Comedy            3
36                              Comedy, Crime, Drama            1
37                    Comedy, Crime, Drama, Thriller            1
38                                     Comedy, Drama            3
39                             Comedy, Drama, Horror            1
40                   Comedy, Drama, Musical, Romance            1
41                            Comedy, Drama, Romance            3
42                                    Comedy, Horror            4
43                                   Comedy, Romance            1
44                                             Drama            2
45                                     Drama, Family            1
46                            Drama, Family, Romance            1
47                                    Drama, Romance            1
48                                            Horror            2
49                                  Horror, Thriller            1
50                                           Mystery            1

In [89]:
# 85) Write a query to get genre wise films count in Mollywood Industry? 
gen_m_films = mollywood_df.groupby('Genre')['Title'].count().reset_index()
gen_m_films.columns = ['Genre', 'Total Films']
print(gen_m_films)

                                        Genre  Total Films
0                           Action, Adventure            1
1            Action, Adventure, Comedy, Drama            1
2                    Action, Adventure, Drama            1
3           Action, Adventure, Drama, Romance            1
4                              Action, Comedy            2
5                       Action, Comedy, Drama            2
6             Action, Comedy, Drama, Thriller            1
7                    Action, Comedy, Thriller            2
8     Action, Crime, Drama, Mystery, Thriller            1
9              Action, Crime, Drama, Thriller            4
10                    Action, Crime, Thriller            2
11                              Action, Drama            1
12           Action, Drama, Fantasy, Thriller            1
13  Action, Drama, Fantasy, Thriller, Western            1
14                     Action, Drama, History            1
15                Action, Drama, History, War            2
16                    Action, Drama, Thriller            6
17                  Action, Mystery, Thriller            1
18                           Action, Thriller            2
19                           Adventure, Drama            1
20        Adventure, Drama, Romance, Thriller            1
21                 Adventure, Drama, Thriller            1
22          Biography, Crime, Drama, Thriller            1
23                   Biography, Drama, Family            1
24                  Biography, Drama, Romance            1
25                                     Comedy            3
26                       Comedy, Crime, Drama            2
27                              Comedy, Drama            5
28                      Comedy, Drama, Family            1
29                     Comedy, Drama, Romance            6
30                    Comedy, Family, Romance            1
31                             Comedy, Horror            1
32                            Comedy, Romance            4
33                              Comedy, Sport            1
34                           Comedy, Thriller            2
35            Crime, Drama, Mystery, Thriller            2
36                     Crime, Drama, Thriller            1
37                   Crime, Mystery, Thriller            2
38                            Crime, Thriller            1
39                                      Drama            2
40                             Drama, Fantasy            1
41                    Drama, Horror, Thriller            1
42                    Drama, Musical, Romance            1
43                   Drama, Mystery, Thriller            1
44                            Drama, Thriller            4
45                  Horror, Mystery, Thriller            2
46                                    Mystery            1

In [90]:
# 86) Write a query to get genre wise films count in Bollywood Industry? 
gen_b_films = bollywood_df.groupby('Genre')['Title'].count().reset_index()
gen_b_films.columns = ['Genre', 'Total Films']
print(gen_b_films)

                                                Genre  Total Films
0                                   Action, Adventure            1
1                           Action, Adventure, Comedy            2
2                    Action, Adventure, Comedy, Drama            1
3   Action, Adventure, Comedy, Drama, Fantasy, Sci-Fi            1
4           Action, Adventure, Comedy, Drama, Romance            1
..                                                ...          ...
88                                       Drama, Sport            3
89                                    Drama, Thriller            1
90                                         Drama, War            1
91                          Horror, Mystery, Thriller            1
92                                  Mystery, Thriller            1

[93 rows x 2 columns]

In [91]:
# 87) Write a query to get genre wise films count in Sandalwood Industry? 
gen_s_films = sandalwood_df.groupby('Genre')['Title'].count().reset_index()
gen_s_films.columns = ['Genre', 'Total Films']
print(gen_s_films)

                                        Genre  Total Films
0                                      Action            4
1   Action, Adventure, Comedy, Drama, Fantasy            1
2          Action, Adventure, Drama, Thriller            1
3                       Action, Comedy, Drama            1
4                     Action, Comedy, Musical            1
5                               Action, Crime            3
6     Action, Crime, Drama, Mystery, Thriller            1
7              Action, Crime, Drama, Thriller            3
8                     Action, Crime, Thriller            2
9                               Action, Drama            5
10                     Action, Drama, Romance            2
11                       Action, Drama, Sport            1
12                    Action, Drama, Thriller            1
13                            Action, Romance            1
14                           Action, Thriller            2
15                   Adventure, Comedy, Drama            1
16                             Drama, Romance            1
17                               History, War            1

In [92]:
# 88) Write a query to get lead actors/actress wise, genre and films count? 
aa_gen_films = bo.groupby(['Lead_Actor_Actress', 'Genre'])['Title'].count().reset_index()
aa_gen_films.columns = ['Lead Actor/Actress', 'Genre', 'Total Films']
print(aa_gen_films)

      Lead Actor/Actress                                    Genre  Total Films
0             Aamir Khan          Action, Biography, Drama, Sport            1
1             Aamir Khan                    Comedy, Drama, Sci-Fi            1
2            Adah Sharma                                    Drama            1
3      Aditya Roy Kapoor  Action, Crime, Drama, Romance, Thriller            1
4             Adivi Sesh       Action, Biography, Drama, Thriller            1
..                   ...                                      ...          ...
537          Yami Gautam                  Action, Drama, Thriller            1
538                 Yash           Action, Crime, Drama, Thriller            2
539                 Yash                   Action, Drama, Romance            1
540          Zaira Wasim                             Drama, Music            1
541  amantha Ruth Prabhu          Action, Crime, Sci-Fi, Thriller            1

[542 rows x 3 columns]

In [93]:
# 94) Calculate YoY% Budget growth? 
year_bud = bo.groupby('Year')['Budget'].sum().reset_index()
year_bud['YoY Budget Growth Percentage'] = round(year_bud['Budget'].pct_change() * 100, 2)
print(year_bud)

    Year  Budget  YoY Budget Growth Percentage
0   2014  1820.0                           NaN
1   2015  1906.0                          4.73
2   2016  2142.0                         12.38
3   2017  3291.0                         53.64
4   2018  3679.0                         11.79
5   2019  2544.0                        -30.85
6   2020  1387.0                        -45.48
7   2021  1855.0                         33.74
8   2022  5722.0                        208.46
9   2023  5877.0                          2.71
10  2024  4430.0                        -24.62

In [94]:
# 95) Calculate YoY% Worldwide total collections growth? 
year_wwc = bo.groupby('Year')['Worldwide_Collection'].sum().reset_index()
year_wwc['YoY Worldwide Collection Percentage'] = round(year_wwc['Worldwide_Collection'].pct_change() * 100, 2)
print(year_wwc)

    Year  Worldwide_Collection  YoY Worldwide Collection Percentage
0   2014               4645.00                                  NaN
1   2015               5470.20                                17.77
2   2016               7088.80                                29.59
3   2017               9659.20                                36.26
4   2018               8275.30                               -14.33
5   2019               8242.72                                -0.39
6   2020               2348.75                               -71.51
7   2021               2711.65                                15.45
8   2022               9853.16                               263.36
9   2023              13461.72                                36.62
10  2024               8122.29                               -39.66

In [95]:
# 96) Calculate YoY% Indian Gross collections growth?
year_igc = bo.groupby('Year')['India_Gross_Collection'].sum().reset_index()
year_igc['YoY India Gross Collection Percentage'] = round(year_igc['India_Gross_Collection'].pct_change() * 100, 2)
print(year_igc)

    Year  India_Gross_Collection  YoY India Gross Collection Percentage
0   2014                 3711.10                                    NaN
1   2015                 3935.30                                   6.04
2   2016                 4459.90                                  13.33
3   2017                 6852.90                                  53.66
4   2018                 6327.40                                  -7.67
5   2019                 6655.58                                   5.19
6   2020                 1966.35                                 -70.46
7   2021                 2238.40                                  13.84
8   2022                 7716.21                                 244.72
9   2023                10080.17                                  30.64
10  2024                 6120.79                                 -39.28